<%-include('../include/_userhead')%>


   <!---------------------- Banner--------------------------------------------------- -->
   <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000">
      <ol class="carousel-indicators">
         <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
         <% for ( let j=1; j < banners.length; j++ ) { %>
            <li data-target="#carouselExampleIndicators" data-slide-to="<%=j%>"></li>
            <% } %>
      </ol>
      <div class="carousel-inner container-fluid">
         <% for ( let i=0; i < banners.length; i++ ) { %>
            <% if ( i==0 ) { %>
               <div class="row">
               <div class="carousel-item active">
                  <% }else{ %>
                     <div class="carousel-item">
                        <% } %>

                           <img class="d-block w-100 bannerimg img-fluid" style="height: 350px;"
                              src="<%=banners[i].image%>" alt="<%=i+1%> slide">
                           <div class="carousel-caption d-none d-md-block centertxt"
                              style=" font-size: 1rem;position: absolute;top: 28%;bottom: 52%;left: 26%;transform: translate(-50%, -50%);">
                              <h5 class="bannerlabel">
                                 <%=banners[i].label%>
                              </h5>
                              <h6 class="bannerdescr">
                                 <%=banners[i].description%>
                              </h6>
                           </div>
                     </div>
                     <% } %>
               </div>
               <div class="row">
               <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
               </a>
               </div>
               <div class="row">
               <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
               </a>
               </div>
      </div>
      </div>
      <!-- Offers -->
      <section class="shop_section layout_padding">
         <div class="container">
            <div class="heading_container heading_center">
               <h2>
                  Offers
               </h2>
            </div>
            <div class="row">
               <% for ( let i=0; i < offers.length; i++){ %>
                  <div class="col-sm-6 col-xl-3 ">
                     <div class="box">
                        <a href="/productDetail?image=<%=offers[i].products.Image %>">
                           <% if (offers[i].products.Quantity==0) { %>
                              <div class="img-box">
                                 <h1 class="outofstock">Out of Stock</h1>
                                 <img  src="<%= offers[i].products.Image[0] %>"  alt="">
                              </div>
                              <% } else { %>
                                 <div class="img-box">
      
                                    <img  src="<%= offers[i].products.Image[0] %>" alt="">
                                 </div>
                                 <% } %>
                        </a>
                        <div class="detail-box">
                           <h6>
                              <%=offers[i].products.Name%>
                           </h6>
                           <h6>
                              Price:
                              <span  style="text-decoration: line-through; opacity: 50%; font-size:1rem; color:red; padding:0">
                                 $<%=offers[i].price%>
                              </span>
                           </h6>
                           <h6>
                             
                              <span >
                                 $<%=offers[i].offerPrice%>
                              </span>
                           </h6>
                        </div>
                        <% if (offers[i].products.Quantity==0) { %>
                           <div font-size: 14px;class="d-flex justify-content-between">
                              <button disabled class="btc_home" onclick="addToCart('<%=products[i]._id%>')">
                                 Add to cart</button>
                                 

                              <button style="font-size: 14px;" type="button" class="btn btn-success"><a
                                    href="/buy-now?id=<%= products[i]._id%>">Buy Now</a></button>
                           </div>
                           <% } else if (isUserLogin) { %>
                              <div style="font-size: 14px;"class="d-flex justify-content-between">
                                 <button style="padding-left: 2px;padding: 2px;"class="btc_home" onclick="addToCart('<%=offers[i].products._id%>')">
                                    Add to Cart
                                 <button style="font-size: 14px;" type="button" class="btn btn-success"><a
                                    href="/buy-now?id=<%= offers[i].products._id%> ">Buy Now</a></button>
                              </div>
                              <% } else {%>
                                 <div class="d-flex justify-content-between">
                                    <button style="font-size: 14px;" class="btc_home" onclick="addCartButton()">
                                       Add to cart
                                    </button>
                                    <button style="font-size: 14px;"class="btn btn-success" onclick="addCartButton()">
                                       Buy Now
                                    </button>
                                 </div>
                                       <% } %>
                     </div>
                  </div>
                  <% } %>
            </div>
      
         </div>
      </section>
      <section class="shop_section layout_padding">
         <div class="container">
            <div class="heading_container heading_center">
               <h2>
                  Products
               </h2>
            </div>
            <div class="row">
               <% for ( let i=0; i < products.length; i++){ %>
                  <div class="col-sm-6 col-xl-3 "  style="border:thin">
                     <div class="box">
                        <a href="/productDetail?image=<%=products[i].Image %>">
                           <% if (products[i].Quantity==0) { %>
                              <div class="img-box">
                                 <h1 class="outofstock">Out of Stock</h1>
                                 <img src="<%= products[i].Image[0] %>" alt="">
                              </div>
                              <% } else { %>
                                 <div class="img-box">
      
                                    <img src="<%= products[i].Image[0] %>" alt="">
                                 </div>
                                 <% } %>
                        </a>
                        <div class="detail-box">
                           <h6>
                              <%=products[i].Name%>
                           </h6>
                           <h6>
                              Price:
                              <span>
                                 $<%=products[i].Price%>
                              </span>
                           </h6>
                        </div>
                        <% if (isUserLogin) { %>
                           <% if (fav?.includes(products[i]._id)) { %>
                              <div class="new">
                                 <button style="font-size: 14px;" onclick="addToFav('<%=products[i]._id%>')"><i class="fa-solid fa-heart"
                                       style="color: rgb(234, 4, 4);" id="<%=products[i]._id%>"></i></button>
                              </div>
                              <% } else {%>
                                 <div class="new">
                                    <button  style="font-size: 14px;"onclick="addToFav('<%=products[i]._id%>')"><i class="fa-solid fa-heart"
                                          id="<%=products[i]._id%>"></i></button>
                                 </div>
                                 <% } %>
                                    <div class="d-flex justify-content-between">
                                       <button style="font-size: 14px;" class="btc_home" onclick="addToCart('<%=products[i]._id%>')">
                                          Add
                                          to cart</button>
                                       <!-- <a href="/buy-now?id=<%= products[i]._id%> ">
                                 <h6 class="atc_home">Buy Now</h6>
                              </a> -->
      
                                       <button type="button" class="btn btn-success"><a
                                             href="/buy-now?id=<%= products[i]._id%>">Buy Now</a></button>
                                    </div>
                                    <% } else {%>
                                       <div class="d-flex justify-content-between">
                                          <button style="font-size: 14px;"class="btc_home" onclick="addCartButton()">
                                             Add to cart
                                          </button>
                                          <button style="font-size: 14px;" class="btn btn-success" onclick="addCartButton()">
                                             Buy Now
                                          </button>
                                       </div>
                                       <% } %>
                     </div>
                  </div>
                  <% } %>
            </div>
         </div>
    
      </section>

      <section class="home-testimonial" style="margin-bottom: 80px;">
         <div class="container-fluid">
             <div class="row d-flex justify-content-center testimonial-pos">
                 <div class="col-md-12 pt-4 d-flex justify-content-center">
                     <h3>Testimonials</h3>
                 </div>
                 <div class="col-md-12 d-flex justify-content-center">
                     <h2>Explore the students experience</h2>
                 </div>
             </div>
             <section class="home-testimonial-bottom">
                 <div class="container testimonial-inner">
                     <div class="row d-flex justify-content-center">
                         <div class="col-md-4 style-3">
                             <div class="tour-item ">
                                 <div class="tour-desc bg-white">
                                     <div class="tour-text color-grey-3 text-center">&ldquo;At this School, our mission is to balance a rigorous comprehensive college preparatory curriculum with healthy social and emotional development.&rdquo;</div>
                                     <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://images.pexels.com/photos/6625914/pexels-photo-6625914.jpeg" alt=""></div>
                                     <div class="link-name d-flex justify-content-center">Balbir Kaur</div>
                                     <div class="link-position d-flex justify-content-center">Student</div>
                                 </div>
                             </div>
                         </div>
                         <div class="col-md-4 style-3">
                             <div class="tour-item ">
                                 <div class="tour-desc bg-white">
                                     <div class="tour-text color-grey-3 text-center">&ldquo;At this School, our mission is to balance a rigorous comprehensive college preparatory curriculum with healthy social and emotional development.&rdquo;</div>
                                     <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
                                     <div class="link-name d-flex justify-content-center">Balbir Kaur</div>
                                     <div class="link-position d-flex justify-content-center">Student</div>
                                 </div>
                             </div>
                         </div>
                         <div class="col-md-4 style-3">
                             <div class="tour-item ">
                                 <div class="tour-desc bg-white">
                                     <div class="tour-text color-grey-3 text-center">&ldquo;At this School, our mission is to balance a rigorous comprehensive college preparatory curriculum with healthy social and emotional development.&rdquo;</div>
                                     <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://images.pexels.com/photos/4946604/pexels-photo-4946604.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
                                     <div class="link-name d-flex justify-content-center">Balbir Kaur</div>
                                     <div class="link-position d-flex justify-content-center">Student</div>
                                 </div>
                             </div>
                         </div>
                     </div>
             </section>
     </section>
     <style>
      .home-testimonial{background-color: #231834;height: 380px}.home-testimonial-bottom{background-color: #f8f8f8;transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top: 20px;margin-bottom: 0px;position: relative;height: 130px;top: 190px}.home-testimonial h3{color: var(--orange);font-size: 14px;font-weight: 500;text-transform: uppercase}.home-testimonial h2{color: white;font-size: 28px;font-weight: 700}.testimonial-inner{position: relative;top: -174px}.testimonial-pos{position: relative;top: 24px}.testimonial-inner .tour-desc{border-radius: 5px;padding: 40px}.color-grey-3{font-family: "Montserrat", Sans-serif;font-size: 14px;color: #6c83a2}.testimonial-inner img.tm-people{width: 60px;height: 60px;-webkit-border-radius: 50%;border-radius: 50%;-o-object-fit: cover;object-fit: cover;max-width: none}.link-name{font-family: "Montserrat", Sans-serif;font-size: 14px;color: #6c83a2}.link-position{font-family: "Montserrat", Sans-serif;font-size: 12px;color: #6c83a2}
     </style>
      <!----------------------  Offer --------------------------------------------------- -->
      <!-- <div class="products" style="margin-top:25px;">
         <div class="container p-0">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Offers</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="our_products">
                     <div class="row" style="padding-top: 3rem;">
                        <% for ( let i=0; i < offers.length; i++){ %>
                           <div class="col-md-4 margin_bottom1">
                              <div class="product_box">
                                 <a href="/productDetail?image=<%=offers[i].products.Image %>">
                                    <% if (offers[i].products.Quantity==0) { %>
                                       <figure>
                                          <h1 class="outofstock">Out of Stock</h1><img
                                             style="width: 150px;height: 150px;"
                                             src="<%= offers[i].products.Image[0] %>" alt="image" />
                                       </figure>
                                       <% } else { %>
                                          <figure><img style="width: 150px;height: 150px;"
                                                src="<%= offers[i].products.Image[0] %>" alt="image" /></figure>
                                          <% } %>
                                 </a>
                                 <h1>
                                    <%=offers[i].products.Name%>
                                 </h1>
                                 <h1
                                    style="text-decoration: line-through; opacity: 50%; font-size:1rem; color:red; padding:0">
                                    $<%=offers[i].price%>
                                 </h1>
                                 <h1>$<%=offers[i].offerPrice%>
                                 </h1>
                                 <% if (offers[i].products.Quantity==0) { %>
                                    <button disabled class="btc_home" style="margin-left:2rem;color:#383535"> Add
                                       to cart</button>
                                    <a>
                                       <h3 class="atc_home" style="margin-left: 119px;color:#383535">Buy Now</h3>
                                    </a>
                                    <% } else if (isUserLogin) { %>
                                       <button onclick="addToCart('<%=offers[i].products._id%>')" class="btc_home"
                                          style="margin-left:2rem"> Add
                                          to cart</button>
                                       <a href="/buy-now?id=<%= offers[i].products._id%> ">
                                          <h3 class="atc_home" style="margin-left: 124px;">Buy Now</h3>
                                       </a>
                                       <% } else {%>
                                          <button class="btc_home" onclick="addCartButton()">
                                             Add to cart
                                          </button>
                                          <a onclick="addCartButton()">
                                             <h3 class="atc_home">Buy Now</h3>
                                          </a>
                                          <% } %>
                              </div>
                           </div>
                           <% } %>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div> -->
      <!---------------------- products ----------------------------------------------------->
      <!-- <div class="products">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2 style="margin-top:1rem;">Our Products</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="our_products" style="padding-top:3rem;">
                     <div class="row">
                        <% for ( let i=0; i < products.length; i++){ %>
                           <div class="col-md-4 margin_bottom1">
                              <div class="product_box"> -->
                                 <!-- <a onclick="prodetails('<%=products[i].Image%>')"> already commentsd-->
                                 <!-- <a href="/productDetail?image=<%=products[i].Image %>">
                                    <% if (products[i].Quantity==0) { %>
                                       <figure>
                                          <h1 class="outofstock">Out of Stock</h1>
                                          <img style="width: 150px;height: 150px;" src="<%= products[i].Image[0] %>"
                                             alt="image" />
                                       </figure>
                                       <% } else { %>
                                          <figure><img style="width: 150px;height: 150px;"
                                                src="<%= products[i].Image[0] %>" alt="image" /></figure>
                                          <% } %>
                                 </a>
                                 <h1>
                                    <%=products[i].Name%>
                                 </h1>
                                 <h1>$<%=products[i].Price%>
                                 </h1>
                                 <% if (isUserLogin) { %>
                                    <% if (fav?.includes(products[i]._id)) { %>
                                       <button onclick="addToFav('<%=products[i]._id%>')"><i class="fa-solid fa-heart"
                                             style="color: red;" id="<%=products[i]._id%>"></i></button>
                                       <% } else {%>
                                          <button onclick="addToFav('<%=products[i]._id%>')"><i
                                                class="fa-solid fa-heart" id="<%=products[i]._id%>"></i></button>
                                          <% } %>
                                             <button onclick="addToCart('<%=products[i]._id%>')" class="btc_home">
                                                Add
                                                to cart</button>
                                             <a href="/buy-now?id=<%= products[i]._id%> ">
                                                <h3 class="atc_home" style="margin-left: 119px;">Buy Now</h3>
                                             </a>
                                             <% } else {%>
                                                <button class="btc_home" onclick="addCartButton()">
                                                   Add to cart
                                                </button>
                                                <a onclick="addCartButton()">
                                                   <h3 class="atc_home">Buy Now</h3>
                                                </a>
                                                <% } %>
                              </div>
                           </div>
                           <% } %>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div> -->


  
  
   <%-include('../include/_userfooter')%>
