<%-include('../include/_userhead')%>
   <script>
      function imageMain(img) {
         $('#changeImage').attr('src', img)
         $('#magicChange').attr("href", img);
      }
   </script>
   <section>  
   <div class="laptop1">
      <div class="container">
         <div class="row">
            <ul>
               <% for (const img of image) { %>
                  <li> <button onclick="imageMain('<%= img %>')"> <img src="<%= img %>"
                           style="width: 100px ;height: 100px; "> </button> </li>
                  <% } %>
            </ul>
            <div class="col-md-7 proimg" style="padding-left: 7rem;">
               <div class="laptop1_img">
                  <a href="<%= image[0] %>" class="MagicZoom" id="magicChange" data-options="zoomPosition: inner"><img
                        src="<%= image[0] %>" id="changeImage" style="max-width: 300px max-height 300px;" /></a>`
               </div>

            </div>
            <div class="prodetail">
               <div class="titlepage">
                  <h4>
                     <%= products.Name %>
                  </h4>
                  <h4>$ <%= products.Price %>
                  </h4>
                  <h4>Brand : <%= products.Brand %>
                  </h4>
                  <h4>Type : <%= products.Category %>
                  </h4>
                  <h3>Description</h3>
                  <h4>
                     <%= products.Description %>
                  </h4>
               </div>
            </div>
            <% if (products.Quantity==0) { %>
               <div class="col-md-7 pt-5" style="margin-left: 11%;">
                  <h2 style="color: red;">Out of Stock</h2>
               </div>
               <% } else if (isUserLogin) { %>
                  <div class="col-md-7 pt-5" style="margin-left: 11%;">
                     <button onclick="addToCart('<%=products._id%>')" class="btn btn-warning" style="margin-left: 13.5rem;">
                        Add to cart</button>
                     <!-- <a href="/buy-now?id=<%= products._id%> ">
                        <h3 class="atc_home" style="margin-left: 13.5rem;">Buy Now</h3>
                     </a> -->
                     <button type="button" class="btn btn-success ml-3"><a style="color: black;"
                        href="/buy-now?id=<%= products._id%> ">Buy Now</a></button>
                  </div>
                  <% } else {%>
                     <div class="col-md-7 pt-5" style="margin-left: 11%;">
                        <button class="btn btn-warning" onclick="addCartButton()" style="margin-left: 13.5rem;">
                           Add to cart
                        </button>
                        <!-- <a onclick="addCartButton()">
                           <h3 class="atc_home" style="margin-left: 13.5rem;">Buy Now</h3>
                        </a> -->
                        <button class="btn btn-success ml-3" onclick="addCartButton()">
                           Buy Now
                        </button>
                     </div>
                  <% } %>
         </div>
      </div>
   </div>
</section>

   <%-include('../include/_userfooter')%>